<h2 class="text-center">Add a new Game</h2>

<div class="From">
  <%= form_for @game, url: player_games_path do |f| %>
    <div class="mb-1">
      <%= f.label :name, class: "form-label" %><br>
      <%= f.text_field :name, class: "form-control", required: true %><br>
      <%= f.submit "Create Game", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
